@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Home Page";
}



<div class="row" style="margin-top: 50px;">
    <ul>
        @foreach(var item in Model)
        {
           <div class="col-md-3" style="margin-top: 50px;">
               <div class="text-center">
                   <h4>@item.Lecturer.Name</h4>
                   <p>Địa Điểm : <strong>@item.Place</strong></p>
                   <p>Ngày : <strong>@item.DateTime.ToString("dd/MM")</strong></p>
                   <p>Vao luc : <strong>@item.DateTime.ToString("HH:MM")</strong></p>
                   <p>@item.Category.Name</p>
               </div>
           </div>
        }
    </ul>
</div>
